NEXT_PUBLIC_APP_URL=http://localhost:3000 # Base URL of your app (for client-side)

# Better Auth configuration
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app (for server-side)

# Database configuration
DATABASE_URL=your_database_url_here

# RESEND API KEY
RESEND_API_KEY=your_resend_api_key_here